.main-container {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  width: 1200px;
  height: 500px;
  margin: 0 auto;
}

/*  

Card Flip Documentation: 
https://jefferson-cuartas.medium.com/how-to-create-a-flip-card-effect-using-javascript-767dd945210c 

*/

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; /* Indicates that the children of the element should be positioned in the 3D-space.  */
  transition: all 0.8s ease;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  text-align: center;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  text-align: center;
  transform: rotateY(180deg);
}

.flipCard {
  transform: rotateY(180deg);
}
